<h1> Your Text Analysis </h1>

<h2>Number of Words:<%= @analyzed_text.count_of_words %></h2>

<h2>Vowels:<%= @analyzed_text.count_of_vowels %> </h2>

<h2>Consonants:<%= @analyzed_text.count_of_consonants %></h2>

<h2>
  <%
  mul = @analyzed_text.most_used_letter
  letter = mul[0]
  count = mul[1]
  %>
  Most Common Letter: <%=letter.capitalize%>, used <%=count.to_s%> times</h2>
